
/* =======================================================
/* KILL BOOTSTRAPS
/* ======================================================= */

.alert, .btn, .form-control { border-radius:0; }

/* =======================================================
/* ADJUST BOOTSTRAP
/* ======================================================= */

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color:#ecf9ff; }

/* =======================================================
/* GLOBAL
/* ======================================================= */

body { font-family:"helvetica",arial,sans-serif; }

/* =======================================================
/* NAVBAR
/* ======================================================= */

.header .navbar-inverse { background:#000; }

.header .nav { font-weight:500; font-size:90%; letter-spacing:1px; }

.navbar-main .dropdown.open a { background-color:#1c1c1c !important; }
.navbar-main .dropdown-menu { background-color:#1c1c1c; border-color:#1c1c1c; border-radius:0; -webkit-box-shadow:none;box-shadow:none; }
.navbar-main .dropdown-menu .divider { background-color:#323232; }
.navbar-main .dropdown-menu > li > a { color:#838383; font-size:85%; font-weight:500; letter-spacing:1px; }
.navbar-main .dropdown-menu > li > a:hover { color:#c3c3c3; background-color:rgba(255,255,255,0.1); }

.navbar-account .dropdown.open a { background-color:#1c1c1c !important; }
.navbar-account .dropdown-menu { background-color:#1c1c1c; border-color:#1c1c1c; border-radius:0; -webkit-box-shadow:none;box-shadow:none; }
.navbar-account .dropdown-menu .divider { background-color:#323232; }
.navbar-account .dropdown-menu > li > a { color:#838383; font-size:85%; font-weight:500; letter-spacing:1px; }
.navbar-account .dropdown-menu > li > a:hover { color:#c3c3c3; background-color:rgba(255,255,255,0.1); }

/* =======================================================
/* PAGE
/* ======================================================= */

.page { padding-left:150px; transition:all 0.4s ease 0s; }
.page-side { position:fixed; left:150px; margin-left:-150px; padding-top:50px; width:150px; height:100%; background:#272727; overflow-y:auto; z-index:1000; transition:all 0.4s ease 0s; }
.page-main { padding-top:50px; width:100%; }

@media (max-width:767px) { 	
	.page { padding-left:0; }
	.page-side { left:0; }
}

/* =======================================================
/* LISTINGS
/* ======================================================= */

.list-filter { background-color:#f9f9f9; padding-left:0; padding-right:0; }

/* =======================================================
/* HEADER
/* ======================================================= */

.navbar-brand { font-weight:900; }
.navbar-main, .dropdown-menu, .navbar-account, { font-size:90%; }
.navbar-inverse { border:0; }

/* =======================================================
/* SIDEBAR > NAV
/* ======================================================= */

.sidebar-nav { margin:0; padding:0; }
.sidebar-nav li { margin:0; padding:0; list-style:none; }
.sidebar-nav li a { display:block; padding:10px 20px; border-bottom:1px solid rgba(255,255,255,0.1); font-size:90%; font-weight:200; letter-spacing:1px; color:rgba(255,255,255,0.4); text-decoration:none; transition:all 0.4s ease 0s; }
.sidebar-nav li a:hover { background-color:rgba(255,255,255,0.1); }
.sidebar-nav li.active a { position:relative; background-color:rgba(255,255,255,0.2); color:#fff; }

/* =======================================================
/* PRELOADER
/* ======================================================= */

.preloader-wrapper { padding:100px; background-color:rgba(150,150,150.1); }
.preloader { position:relative; width:150px; height:20px; top:45%; top:-webkit-calc(50% - 10px); top:calc(50% - 10px); left:25%; left:-webkit-calc(50% - 75px); left:calc(50% - 75px); border:2px solid #428bca; background-color:rgba(66, 139, 202, 0.1); }
.preloader:before { content:""; position:absolute; background-color:#428bca; top:-2px; left:0px; height:20px; width:0px; z-index:0; opacity:1; -webkit-transform-origin: 100% 0%; transform-origin: 100% 0% ; -webkit-animation:preloader 1s ease-in-out infinite; animation:preloader 1s ease-in-out infinite; }

@-webkit-keyframes preloader { 
	0%{width:0px;}
	70%{width:100%; opacity:1;}
	90%{opacity:0; width:100%;}
	100%{opacity:0;width:0px;}
}
@keyframes preloader { 
	0%{width:0px; }
	70%{width:100%; opacity:1;}
	90%{opacity:0; width:100%;}
	100%{opacity:0;width:0px;}
}
